<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

.App {
  text-align: left;
  font-family: Open Sans;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.title {
    color: #3E5769;
}

.App-link {
  color: #09d3ac;
}
